:root {
  --bg-col: #251e3e;
  --component-color: #49657b;
  --lighter-component-color: #d4e2f0;
  --darker: #051e3e;
  --chat-gray: rgba(75, 75, 75, 0.575);
  --bg-gray: #313030;
  --mobile-slate: rgb(54, 45, 116);
}

@font-face {
  font-family: "neon";
  src: url("fonts/Neon-rave.otf");
}
@font-face {
  font-family: "black_north";
  src: url("fonts/Blacknorthdemo-mLE25.otf");
}
@font-face {
  font-family: "uruoob";
  src: url("fonts/Uroob-Regular.ttf");
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-color: var(--bg-col);
}
body .text {
  font-family: black_north;
}

#logo {
  font-family: neon;
  letter-spacing: 1.5px;
  font-weight: 300;
}

#illus img {
  width: 200px;
}

.neon {
  font-family: neon, "Times New Roman", Times, serif;
  letter-spacing: 1.3px;
}

.black_north {
  font-family: black_north, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1.5px;
}

img {
  pointer-events: none;
}

#title-phone {
  display: none;
}

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dashboard #MobileBar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0.00002px;
  padding: 0.6em;
  background-color: rgb(54, 45, 116);
}
#dashboard #MobileBar #bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#dashboard #MobileBar #bar #add {
  -webkit-clip-path: circle(40% at center 50%);
          clip-path: circle(40% at center 50%);
}

#disp {
  display: none;
}

#chat-list-header {
  display: none;
}

#chat-list {
  width: 100%;
  height: 80px;
  margin: 0.5em 0em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#chat-list .chat-list-item {
  display: inline-block;
}

#recent-chats p {
  padding: 0.5em 1em;
}
#recent-chats #hori-chat-list {
  margin: 0em 1em;
}

#options-output {
  padding-bottom: 3em;
}

#profile-holder {
  display: flex;
  flex-direction: row;
  padding: 1em 1.3em;
}
#profile-holder #profile-icon {
  background-color: black;
  padding: 1.4em;
  border-radius: 6px;
}
#profile-holder #user-data {
  margin-left: 1em;
  font-size: 0.9em;
}

@media (min-width: 640px) {
  #chat_space {
    background-color: var(--bg-gray);
  }
  #chat_container {
    height: 600px;
    background-color: var(--chat-gray);
    width: 70%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #chat_container #header {
    height: 11%;
  }
  #chat_container #chats {
    height: 78%;
    overflow-y: auto;
  }
  #chat_container #chat_holder {
    display: flex;
    flex-direction: column;
  }
  #chat_container #chat_holder #me {
    display: inline-block;
    margin: 0.4em 1em;
    word-wrap: break-word;
    max-width: 80%;
    padding: 1em;
    background-color: rgba(37, 30, 62, 0.7529411765);
    border-radius: 20px;
    align-self: flex-end;
  }
  #chat_container #chat_holder #other {
    align-self: flex-start;
    max-width: 80%;
    margin: 0.4em 1em;
    background-color: var(--component-color);
    word-wrap: break-word;
    border-radius: 20px;
    padding: 1em;
    display: inline-block;
  }
  #chat_container #message_sender {
    height: 11%;
    display: flex;
    padding-top: 0.5em;
    justify-content: space-between;
  }
  #chat_container #message_sender textarea {
    display: block;
    padding: 0.2em 0.5em;
    background-color: rgb(105, 105, 105);
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    width: 85%;
    height: 100% !important;
    resize: none;
    outline: none;
    border-radius: 8px;
  }
  #chat_container #message_sender #sender {
    width: 13%;
    -webkit-clip-path: circle(38% at center center);
            clip-path: circle(38% at center center);
    display: flex;
    cursor: pointer;
    background-color: #616161;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease;
  }
  #chat_container #message_sender #sender:hover, #chat_container #message_sender #sender:active, #chat_container #message_sender #sender:focus {
    background-color: #49657b;
  }
  #logo img {
    width: 30px;
  }
  #img_top img {
    width: 300px;
  }
  #desc {
    max-width: 80%;
  }
  #working_icon img {
    width: 300px;
  }
  #footer {
    border-top: 2px solid white;
    width: 60%;
  }
}
#profile-holder {
  margin-top: 1em;
}

@media (min-width: 572px) and (max-width: 639px) {
  #ch-icon {
    display: none;
  }
  #header {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    width: 100%;
  }
  #chat_container {
    padding: 0em !important;
    width: 100%;
    height: 100%;
  }
  #intro h2 {
    margin: 0em 2em;
  }
  #top_holder {
    display: flex;
    flex-direction: column !important;
  }
  #desc {
    font-size: 20px;
  }
}
/* Phone */
@media (max-width: 640px) {
  #chat_space {
    height: 100vh;
  }
  #header {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
  }
  #chats {
    height: 100%;
    overflow-y: auto;
  }
  #chat_holder {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
  }
  #chat_holder #other {
    align-self: flex-start;
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 15px;
    background-color: rgb(38, 57, 94);
  }
  #chat_holder #other #time {
    font-size: 0.67em !important;
  }
  #chat_holder #me {
    align-self: flex-end;
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 15px;
    background-color: var(--darker);
  }
  #chat_holder #me #time {
    font-size: 0.67em !important;
  }
  #message_sender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em;
  }
  #message_sender textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 60px !important;
    border-radius: 8px;
    background-color: var(--darker);
    color: white;
    outline: none;
    padding: 0.8em 1em;
  }
  #message_sender #sender {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    -webkit-clip-path: circle(46% at center 50%);
            clip-path: circle(46% at center 50%);
    background-color: #0c3b77;
  }
  #chat_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #inputs {
    display: flex;
    justify-content: center;
    margin: 1em 0em;
  }
  #inputs #input_holder input {
    padding: 1em 0.8em;
  }
  #ch-icon {
    display: none;
  }
  #login #footer-cover {
    margin-top: 2em;
  }
  #login #footer-cover footer {
    color: rgb(97, 97, 97);
  }
  Login {
    display: none;
  }
  #reg_link {
    margin-top: 1em;
    color: blue;
    font-weight: bolder;
  }
  #illus {
    display: none !important;
  }
  #desc {
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.4px;
  }
  #title-pc {
    display: none;
  }
  #title-phone {
    display: block;
  }
  #logo img {
    width: 20px;
  }
  #img_top,
#working_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img_top img {
    width: 250px;
  }
  #title-phone {
    margin: 0em 0em 3em 1em;
    text-align: center;
  }
  #footer {
    border-top: 2px solid white;
    width: 80%;
  }
}
.uruoob {
  font-family: uruoob, "Times New Roman", Times, serif;
}

#back {
  background-color: rgb(114, 10, 10);
  border-radius: 50%;
}

#footer-cover {
  width: 100%;
  display: flex;
  justify-content: center;
}

#illus {
  display: none;
}

.login_inside .text {
  font-size: 1.4em;
}

#options-tab {
  display: none;
}

#mobile-header {
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--mobile-slate);
  top: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile-header p {
  padding: 0em 0.6em;
}
#mobile-header img {
  width: 30px;
}

@media (min-width: 1024px) {
  #mobile-header,
#mobile-header-settings {
    display: none !important;
  }
  #disp {
    display: block;
  }
  #cover {
    margin-bottom: 0em;
  }
  #MobileBar {
    display: none;
  }
  #chat-list-header {
    display: block;
  }
  #chat_container {
    width: 600px;
  }
  #profile-holder {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  #profile-holder #profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    width: 100px;
    height: 100px;
  }
  #recent-chats #hori-chat-list {
    transition: 0.2s all ease-in;
    display: none;
  }
  #recent-chats #hori-chat-list:hover {
    background-color: rgba(61, 61, 61, 0.822);
  }
  #dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg-gray);
  }
  #dashboard #options-tab {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  #dashboard #options-tab #sidebar {
    background: rgba(75, 75, 75, 0.575);
    border-radius: 10px;
    width: 80px;
    min-height: 100px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #dashboard #options-tab #sidebar .ico {
    margin: 0.3em 0em;
    padding: 0em 0.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
  }
  #dashboard #options-tab #sidebar .ico:hover {
    background-color: rgba(0, 0, 0, 0.671);
  }
  #dashboard #options-tab #sidebar img {
    width: 40px;
  }
  #dashboard #options-tab #sidebar #add {
    border-radius: 150%;
    background-color: rgb(0, 116, 145);
    transition: 0.5s all ease-in-out;
  }
  #dashboard #options-tab #sidebar #add:hover {
    transform: scale(1.2);
    background-color: blue;
  }
  #dashboard #options-output {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #dashboard #options-output #view {
    background: var(--chat-gray);
    margin-left: 2em;
    overflow-y: auto;
    border-radius: 10px;
    padding: 1em 0.7em;
    height: 550px;
    width: 600px;
  }
  #dashboard #options-output #view #chat-list-container {
    height: 100%;
    overflow-y: auto;
  }
  #dashboard #options-output #view #chat-list-header {
    border-bottom: 2px solid rgb(189, 189, 189);
  }
  #dashboard #options-output #view #online-chats {
    border: 0px;
  }
  #dashboard #options-output #view #chat-list {
    margin: 0.6em 0em;
    border: 0px solid;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  #dashboard #options-output #view #chat-list .chat-list-item {
    display: inline-block;
  }
  #dashboard #options-output #view #chat-list .chat-list-item .chat-color-icon {
    margin: 0.1em 0em;
    color: var(--bg-col);
  }
  .full {
    width: 100%;
  }
  #illus {
    display: block;
  }
  #back {
    transition: 0.2s all;
    -webkit-clip-path: circle(40% at 25px 25px);
            clip-path: circle(40% at 25px 25px);
    background: #851e3e;
    text-align: center;
  }
  #back:hover {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
  }
  #illus {
    margin-left: 4em;
    width: 50%;
  }
  #illus img {
    width: 300px;
  }
  .login_inside {
    width: 100%;
    height: 80%;
  }
  .login_inside #footer-cover {
    width: 100%;
  }
  .login_inside #footer-cover footer {
    margin-top: 1em;
    width: 100%;
    color: rgb(189, 189, 189);
  }
  #inputs {
    width: 50%;
    padding: 0.5em;
  }
  #login_holder {
    width: 100%;
  }
  #login_page {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #login_page .login {
    height: 90%;
    width: 80%;
    background-color: var(--darker);
  }
}/*# sourceMappingURL=design.css.map */